.bem-vindo-de-volta,
.faa-seu-login {
  position: relative;
}
.faa-seu-login {
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--black-minimalist);
}
.titlemessage1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.button,
.emailinput1,
.inputs1 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.emailinput1 {
  border: 0;
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-base);
  background-color: var(--gray-textbox);
  align-self: stretch;
  border-radius: var(--rounder-round-circle);
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs) var(--spacing-spacing-24);
  color: var(--black-minimalist);
  min-height: 64px;
}
.button,
.inputs1 {
  width: 100%;
}
.inputs1 {
  background-color: var(--background);
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
  max-width: 560px;
}
.button {
  text-decoration: none;
  border-radius: var(--rounder-round-circle);
  background-color: var(--orange);
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--spacing-spacing-24);
  max-width: 540px;
  min-height: 64px;
  color: inherit;
}
.esqueceu-a-senha1 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--black-minimalist);
}
.button1,
.form1 {
  font-size: var(--font-size-5xl);
}
.form1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  color: var(--background);
}
.button1 {
  text-decoration: none;
  width: 100%;
  border-radius: var(--rounder-round-circle);
  background-color: var(--black-minimalist);
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-3xs) var(--spacing-spacing-24);
  box-sizing: border-box;
  max-width: 540px;
  min-height: 64px;
  color: var(--orange);
  font-family: var(--font-noto-sans);
}
.ari-login,
.button1,
.loginsection1,
.registeroption1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.registeroption1 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-xl);
  color: var(--black-minimalist);
  font-family: var(--font-inter);
}
.ari-login,
.loginsection1 {
  width: 100%;
  overflow: hidden;
  justify-content: center;
}
.loginsection1 {
  border-radius: var(--rounder-round-32);
  background-color: var(--background);
  padding: var(--spacing-spacing-24) var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  max-width: 800px;
  min-height: 720px;
}
.ari-login {
  position: relative;
  background-color: var(--orange);
  height: 1024px;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans);
}
