.senha-recuperada,
.voc-j-pode {
  position: relative;
}
.voc-j-pode {
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--black-minimalist);
}
.titlemessage5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.ari-senha-recuperada,
.passwordrecoverysection3 {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.passwordrecoverysection3 {
  border-radius: var(--rounder-round-32);
  background-color: var(--background);
  height: 640px;
  flex-shrink: 0;
  padding: var(--spacing-spacing-24) var(--padding-3xs);
  max-width: 800px;
  min-height: 640px;
}
.ari-senha-recuperada {
  position: relative;
  background-color: var(--orange);
  height: 1024px;
  padding: var(--padding-173xl) var(--padding-301xl);
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans);
}
